<h1>Email Confirmation</h1>

<h3>@ViewBag.Message</h3>

@{
    ViewBag.Title = "Confirm Email";
}

<a asp-action="Login" asp-controller="Account">Login</a>
<a asp-action="Register" asp-controller="Account">Register</a>
